In [ ]:
# Checking and controling required dataset before starting to use.

In [1]:
import os
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

### PATHWAY - hiPathia

In [3]:
df_h = pd.read_csv('../data/pathways/hipathia_pathways.csv')
print(df_h.shape)
df_h.head()
# (6789, 4)

(6789, 4)

,name,label,path.id,path.name
0,N-mmu03320-1,Leukotriene B4,mmu03320,PPAR signaling pathway
1,N-mmu03320-2,BR:br08303(C10AB fibrates),mmu03320,PPAR signaling pathway
2,N-mmu03320-3,"BR:br08303(S01BC Antiinflammatory agents, non-...",mmu03320,PPAR signaling pathway
3,N-mmu03320-4,9-cis-Retinoic acid,mmu03320,PPAR signaling pathway
4,N-mmu03320-5,9-cis-Retinoic acid*,mmu03320,PPAR signaling pathway

In [20]:
df_h_final = pd.read_csv('../data/pathways/hipathia_pathways_final.csv')
print(df_h_final.shape)
df_h_final.head()
# (4528, 4)

(92, 2)

    path.id               path.name
0  mmu03320  PPAR signaling pathway
1  mmu04010  MAPK signaling pathway
2  mmu04012  ErbB signaling pathway
3  mmu04014   Ras signaling pathway
4  mmu04015  Rap1 signaling pathway

### PATHWAY - KEGG

In [9]:
df_kegg_raw = pd.read_csv('../source/geneSCF/class/lib/db/mmu/kegg_database.txt', error_bad_lines=False, sep='~|\t', header=None)
df_kegg_raw.columns = ['pathway_id', 'pathway_name', 'pathway_genes']
print(df_kegg_raw.shape)
df_kegg_raw.head()
# (333, 3)

(333, 3)

,pathway_id,pathway_name,pathway_genes
0,mmu00010,Glycolysis_/_Gluconeogenesis,"103988,106557,110695,11522,11529,11532,11669,1..."
1,mmu00020,Citrate_cycle_(TCA_cycle),"104112,11428,11429,12974,13382,14194,15926,159..."
2,mmu00030,Pentose_phosphate_pathway,"100198,110208,110639,11674,11676,14120,14121,1..."
3,mmu00040,Pentose_and_glucuronate_interconversions,"100559,100727,102448,110006,112417,11677,11997..."
4,mmu00051,Fructose_and_mannose_metabolism,"110119,11674,11676,11677,11997,14120,14121,141..."

In [10]:
df_kepp_p_edit = pd.read_csv('../data/pathways/kegg_pathways_edited.csv')
print(df_kepp_p_edit.shape)
df_kepp_p_edit.head()
# (333, 4)

(333, 4)

,pathway_id,pathway_name,pathway_genes,edit
0,mmu00010,Glycolysis_/_Gluconeogenesis,"103988,106557,110695,11522,11529,11532,11669,1...",1.0
1,mmu00020,Citrate_cycle_(TCA_cycle),"104112,11428,11429,12974,13382,14194,15926,159...",1.0
2,mmu00030,Pentose_phosphate_pathway,"100198,110208,110639,11674,11676,14120,14121,1...",1.0
3,mmu00040,Pentose_and_glucuronate_interconversions,"100559,100727,102448,110006,112417,11677,11997...",1.0
4,mmu00051,Fructose_and_mannose_metabolism,"110119,11674,11676,11677,11997,14120,14121,141...",1.0

In [11]:
df_kepp_p_final = pd.read_csv('../data/pathways/kegg_pathways_final.csv')
print(df_kepp_p_final.shape)
df_kepp_p_final.head()
# (250, 4)

(250, 4)

,pathway_id,pathway_name,pathway_genes,edit
0,mmu00010,Glycolysis_/_Gluconeogenesis,"103988,106557,110695,11522,11529,11532,11669,1...",1.0
1,mmu00020,Citrate_cycle_(TCA_cycle),"104112,11428,11429,12974,13382,14194,15926,159...",1.0
2,mmu00030,Pentose_phosphate_pathway,"100198,110208,110639,11674,11676,14120,14121,1...",1.0
3,mmu00040,Pentose_and_glucuronate_interconversions,"100559,100727,102448,110006,112417,11677,11997...",1.0
4,mmu00051,Fructose_and_mannose_metabolism,"110119,11674,11676,11677,11997,14120,14121,141...",1.0

### GENE - hiPathia

In [16]:
df_h_gene_raw = pd.read_csv('../data/hipathia_genes_detail/hipathia_all_gene_list.csv')
print(df_h_gene_raw.shape)
df_h_gene_raw.head()
# (4082, 1)

(4082, 1)

       x
0  19013
1  20181
2  20182
3  20183
4  19015

In [17]:
df_h_gene = pd.read_csv('../data/pathways/hipathia_gene_list.csv')
print(df_h_gene.shape)
df_h_gene.head()
# (3737, 1)

(3737, 1)

       x
0  19013
1  20181
2  20182
3  20183
4  15360

### GENE - KEGG

In [21]:
df_kegg_gene = pd.read_csv('../data/pathways/kegg_gene_list.csv')
print(df_kegg_gene.shape)
df_kegg_gene.head()
# (7893, 1)

(7893, 1)

       0
0  22169
1  56619
2  15114
3  74778
4  16524